{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
function refresh() {
    document.getElementById("id_whole_price").value = (((document.getElementById("id_subject_l_count").value * document.getElementById("id_subject_l_price").value) + parseInt(document.getElementById("id_subject_price").value) + (document.getElementById("id_subject_p_count").value * document.getElementById("id_subject_p_price").value) + parseInt(document.getElementById("id_subject_price").value)));
}
</script>
<div class="container-fluid">
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href={% url 'index' %}>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Subjects({{ subjects.count }})</li>
            </ol>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm input-group input-group-sm mb-3 ms-5">
            <form action="{% url 'subject_manager' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="row">
                    {{field.label_tag}}
                    {{field}}
                </div>
                {% endfor %}
                <div class="container mt-3">
                    <input type="submit" class="btn btn-outline-primary" name="submit" value="Создать/Изменить">
                    <a type="submit" href="subjects/parse" class="btn btn-outline-danger">Импорт</a></form>
        </div>
    </div>
    {% include "./filter_forms.html" %}
</div>
</div>
{% if subjects %}
</div>
<div class="container">
    <table class="sortable table">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Цена за предмет</th>
            <th>Кол-во лекций</th>
            <th>Кол-во практик</th>
            <th>Цена за лекцию</th>
            <th>Цена за практику</th>
            <th>Общая цена</th>
            <th>Всего часов</th>
            <th class="sorttable_nosort">Действия</th>
        </tr>
        <tr>
            {% for s in subjects %}
        <tr>
            <td>{{s.id}}</td>
            <td>{{s.subject_name}}</td>
            <td>{{s.subject_price}}</td>
            <td>{{s.subject_l_count}}</td>
            <td>{{s.subject_p_count}}</td>
            <td>{{s.subject_l_price}}</td>
            <td>{{s.subject_p_price}}</td>
            <td>{{s.whole_price}}</td>
            <td>{{s.total_hours}}</td>
            <td><a href="delete/subjects/{{s.id}}"><svg width="20" height="20" viewBox="0 0 15 15" fill="none">
                        <path d="M5.5 1C5.22386 1 5 1.22386 5 1.5C5 1.77614 5.22386 2 5.5 2H9.5C9.77614 2 10 1.77614 10 1.5C10 1.22386 9.77614 1 9.5 1H5.5ZM3 3.5C3 3.22386 3.22386 3 3.5 3H5H10H11.5C11.7761 3 12 3.22386 12 3.5C12 3.77614 11.7761 4 11.5 4H11V12C11 12.5523 10.5523 13 10 13H5C4.44772 13 4 12.5523 4 12V4L3.5 4C3.22386 4 3 3.77614 3 3.5ZM5 4H10V12H5V4Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
                    </svg></a></td>
            {% endfor %}
        </tr>
    </table>
</div>
<a type="submit" href="delete/subjects/all" class="btn btn-outline-danger">Удалить всё</a></form>
{% else %}
<div class="content ms-5">
    <p>Таблица не найдена</p><a type="submit" href="{% url 'subject_manager' %}" class="btn btn-outline-warning me-3">Сбросить</a>
</div>
{% endif %}
{% endblock %}